@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
    --yellow: #ffee32;
    --yellowHover: #E0CE00;
    --yellowActive: #CCBB00;
    --white: #ffffff;
    --black: #000000d9;
    --blackPiano: #0000004d;
    --blackInBlack: #000;
    --blackInBlackPiano: #00000090;
    --gray: #a0a0a0;
    --red: #FF4949;
    --green: #adff2f;
}

* {
    margin: 0;
    padding: 0;
    font-size: 14;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Poppins";
}

#header {
    width: 100vw;
    height: 70px;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header>span {
    font-size: 0.75rem;
}

.button-add {
    background-color: var(--yellow);
    padding: 10px;
    color: var(--blackInBlack);
    border: 2px solid var(--gray);
    border-radius: 6px;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: all 0.6s;
    cursor: pointer;
    outline: none;
}

.button-add:hover {
    background-color: var(--yellowHover);
    color: var(--white);
}

.button-add:active {
    background-color: var(--yellowActive);
    color: var(--white);
}

.section-table {
    color: var(--white);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--yellow);
    opacity: 0.94;
    border-radius: 6px;
}

.table {
    background-color: var(--blackPiano);
    width: 100%;
    margin: 0 auto;
    border-radius: 6px;
}

.table-header>tr>th {
    font-weight: 500;
}

.title {
    color: var(--black);
    margin-bottom: 20px;
    text-align: left;
    text-align: center;
}

.table-row {
    background-color: var(--white);
    color: var(--blackInBlack);
    color: var(--gray);
    color: var(--white);
    transition: all 0.6s;
}

.table-row:hover {
    cursor: pointer;
    color: var(--yellow);
}

.table-buttons {
    display: flex;
    justify-content: space-around;
}

.table-buttons>button {
    width: 100%;
    color: var(--white);
    padding: 10px;
    border: none;
    background-color: transparent;
    transition: all linear 0.6s;
    outline: none;
}

.table-buttons>button:hover {
    color: var(--white);
    cursor: pointer;
    background-color: var(--blackInBlackPiano);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blackInBlackPiano);
    opacity: 0;
    z-index: -1;
}

.modal.active {
    opacity: 1;
    z-index: 1;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: var(--white);
    box-shadow: 1px 1px 10px var(--blackInBlack);
    height: 60vh;
}

.modal-header {
    display: flex;
    position: relative;
    justify-content: center;
    height: 60px;
    line-height: 40px;
    font-size: 1rem;
}

.modal-close {
    position: absolute;
    right: 0;
    width: 40px;
    display: block;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;

}

.modal-close:hover {
    background-color: var(--red);
    color: var(--white);
}

.modal-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 60%;
    align-items: center;
    padding: 0 20px;
}

.modal-field {
    width: calc(50% - 10px);
    height: 40px;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px var(--blackInBlack);
    padding: 0 10px;
    font-size: 1rem;
}

.modal-field:focus {
    border: 2px solid var(--gray);
    box-shadow: 0 0 3px var(--gray);
}

.modal-footer {
    background-color: inherit;
    text-align: right;
    padding: 0 20px;
    height: 100px;
}

@media (max-width:480px) {
    .modal {
        top: 100%;
        transition: all 1s ease;
    }
    .modal.active {
        top: 0;
    }
    .modal-content {
        margin: 0;
        width: 100%;
        position: fixed;
    }
    .modal-field {
        width: 100%;
    }
}

.red {
    position: relative;
    background-color: var(--white);
}

.red:hover {
    color: white;
    background-color: var(--red);
}

.green {
    position: relative;
    background-color: var(--white);
}

.green:hover {
    color: white;
    background-color: var(--green);
}

.container-background {
    background-image: url("https://uploaddeimagens.com.br/images/003/833/077/full/321_508114737-removebg-preview.png?1650248573");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 700px;
    height: 90vh;
    width: 100vw;
}